@import "~bootstrap";
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    /* height: 100vh;
    background: radial-gradient(#0776e0, #064683); */
    background-color: #dfdfdf;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
section {
    height: 100vh;
}

.section-two {
    background-color: rgba(88, 88, 88, 0.979);
}
svg {
    overflow: visible;
    height: 100%;
    
    /* Fix Safari rendering bug */
    transform: translateZ(0);
  }
  
  path {
    stroke-width: 2;
    stroke: gray;
  }
  