@import "~bootstrap";
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    /* height: 100vh;
    background: radial-gradient(#0776e0, #064683); */
    background-color: #000;
    font-family: 'Poppins';
    background-image: url('https://dogstudio.co/app/themes/portfolio-2018/static/assets/images/menu/background-l.png');
    background-size: cover;
    background-attachment: fixed;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
section {
    height: 100vh;
}

.section-two {
    /* background-color: rgb(14, 14, 14); */
}
svg {
    overflow: visible;
    height: 100%;
    
    /* Fix Safari rendering bug */
    transform: translateZ(0);
  }
  
  path {
    stroke-width: 2;
    stroke: gray;
  }
  